{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "sound": "Unset",
    "player": "Collide",
    "grabpoint": "Ignore",
    "activehand": "Ignore",
    "item": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "item",
      "r": "Ignore"
    }
  ],
  "__guid": "7f0dc38e-e849-4e8a-951b-e9a69f93061c",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}