{
  "Version": 2,
  "Mixers": {
    "Guid": "02a1a236-a5e0-4fb0-a387-8113dbbf4a42",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [
      {
        "Effect": "outside.large",
        "Enabled": true,
        "Mix": 0.06,
        "__type": "DspProcessor"
      }
    ],
    "Children": [
      {
        "Guid": "e89fb221-e0eb-4733-bf2d-b1fd350c3bec",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "9cd96611-509d-42e0-86bd-2b32c428a2b8",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "8693d388-1956-4e7d-b27b-75cca3dc0172",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "44ddea37-f74e-4233-9e1b-f14e01bd2fdd",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}